
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
  background-color:#800000;
  padding:2px;
  text-align: center;
  font-size:15px;
  color:#fff;
  
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left:;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create three equal columns that floats next to each other */
.column {
  margin-left:15%;
  width: 70%;
  padding: 15px;
  background-color:#FFF8DC;
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
	border:10px;
	
  }
}
video {
  width: 70%;
  height: auto;
  video-align:center;
  margin-left:15%;
}

.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  font-size:15px;
  color:black;
  
}